ion-content{
    $color:(
        primary: #488aff,
        otro2: #15d0b3
    );
}

ion-content{
    background: #15d0b3;
}

ion-item{
    --background: #fff;
    --color: #15d0b3;
}
ion-button{
    --background: #fff;
    --color: #15d0b3;
}

a{
    color: #fff
}

